.container {
  display: flex;
  border: 1px solid black;
  margin: 10px;
  flex-direction: row; /* row is the default */
}

.height {
  height: 125px;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.red-squared {
  width: 50px;
  height: 50px;
  background-color: red;
}

.blue-squared {
  width: 50px;
  height: 50px;
  background-color: blue;
}

.green-squared {
  width: 50px;
  height: 50px;
  background-color: green;
}
